<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-lg-6">
            <div class="card mb-3" *ngIf="car">
                <div class="card-body">
                    <h3 class="card-title text-primary">{{car.brand}}</h3>
                    <h4 class="card-title fw-bold">{{car.model}}</h4>
                    <p>
                        Color: <b>{{car.color}}</b> | Price: <b>Rs.{{car.price}}</b> | Transmission: <b>{{car.transmission}}</b> | Fuel: <b>{{car.typeFuel}}</b> | Description: <b>{{car.description}}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-6">
            <div class="d-flex justify-content-between align-items-center" *ngIf="car">
                <div>
                    <label for="from-date" class="me-2">From Date:</label>
                    <input type="date" id="from-date" name="from-date" class="date-input" [(ngModel)]="duration.from">
                </div>
                <div>
                    <label for="to-date" class="me-2">To Date:</label>
                    <input type="date" id="to-date" name="to-date" class="date-input" [(ngModel)]="duration.to">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-6">
            <div class="d-flex justify-content-start">
                <button class="btn btn-primary" type="button" (click)="getDate()">Confirm Booking</button>
            </div>
        </div>
    </div>
</div>
