<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">SD Car Rental Service</a>
      <form class="d-flex">
        <button type="button" routerLink="log" class="btn btn-outline-light me-3">Login</button>
        <button type="button" routerLink="signup" class="btn btn-outline-light">Sign Up</button>
      </form>
    </div>
  </nav>
</div>

<div *ngIf="isAdminLoggedIn">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">Admin Dashboard</a>
      <form class="d-flex">
        <a routerLink="/admin/dashboard" class="text-white text-decoration-none me-5">Dashboard</a>
        <a routerLink="/admin/car" class="text-white text-decoration-none me-5">Post Car</a>
        <a routerLink="" class="text-white text-decoration-none" (click)="logOut()">Logout</a>
      </form>
    </div>
  </nav>
</div>

<div *ngIf="isCustomerLoggedIn">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">Customer Dashboard</a>
      <form class="d-flex">
        <a routerLink="/customer/dashboard" class="text-white text-decoration-none me-5" font-co>Dashboard</a>
        <a routerLink="" class="text-white text-decoration-none" (click)="logOut()">Logout</a>
      </form>
    </div>
  </nav>
</div>

<router-outlet>
  
</router-outlet>